@media (max-width: 1140px) {

    .nav-menu_lista,
    .nav-actions>.language-selector,
    .nav-actions>.btn-account {
        display: none;
    }

    .menu-hamburguesa-movil {
        display: block;
        position: absolute;
        top: 50%;
        right: -2vw;
        transform: translateY(-60%);
        background: none;
        border: none;
        font-size: 2vw;
        cursor: pointer;
        color: #000;
        z-index: 9999;
    }

    .nav-menu.oculto {
        display: none;
    }

    .nav-menu.visible {
        display: block;
        background: #fff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

}

@media (max-width: 1024px) {

    .Image-logo-hostinger {
        width: 14vw;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-left: 18vw;
        margin-top: 1.8vw;
    }

    .icon-check {
        font-size: 2.2vw;
    }

    .icon-question {
        font-size: 1.3vw;
    }

    .icon-shield {
        font-size: 2vw;
        margin-right: 2vw;
        height: 2.3vw;
    }


    .promo-guarantee {
        display: flex;
        align-items: center;
        margin-bottom: 2vw;
        color: #1a1a1a;
    }

    .promo-guarantee span {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 2.5vw;
        margin: 0.87vw 0 1.73vw;
    }

    .hero-content p {
        font-size: 1.6vw;
    }

    .features-list li {
        display: flex;
        align-items: center;
        margin-bottom: 0.017vw;
        font-size: 1.54vw;
        color: #333;
    }

    .promo-button {
        padding: 1.5vw 5.2vw;
        text-decoration: none;
        font-size: 1.45vw;
        border-radius: 0.82vw;
    }

    .promo-image {
        max-width: 100%;
        justify-content: flex-start;
        margin-right: 12vw;
    }

    .promo-image img {
        width: 100%;
        height: auto;
    }

    .migration-section {
        height: 100%;
    }

    .migration-section__body {
        width: 68vw;
    }

    .migration-section__body h2 {
        font-size: 2.53vw;
    }

    .migration-section__body p {
        font-size: 1.57vw;
    }

    .migration-section__card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .migration-section__card .migration-section__card_individual {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 16px;
    }

    .migration-section__card_individual span {
        font-size: 115.2%;
        margin-bottom: 2vw;
    }

    .migration-section__card_individual p {
        text-align: left;
        font-size: 97.8%;
        margin: 0;
        line-height: 1.4;
    }

    .migration-section__card_individual .img {
        width: 40px;
        height: 40px;
        margin-bottom: 0.7vw;
    }

    .migration-section__card_individual .img i {
        font-size: 5vw;
    }

    .sections-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 40px;
        max-width: 1400px;
        margin: 0 auto;
    }

    .sections-footer h2 {
        font-size: 1.8vw;
    }

    .sections-footer a {
        text-decoration: none;
        color: #26272a;
        font-size: 1.5vw;
    }

    .footer-bottom .footer-bottom-left .logo img {
        width: 150px;
        height: auto;
    }

    .footer-links-ipad {
        display: block;
    }

    .footer-links-ipad a {
        color: #151515;
        justify-content: flex-end;
        text-decoration: none;
        font-size: 1.5vw;
        transition: color 0.3s ease;
        white-space: nowrap;
        margin-right: 15px;

    }

    .footer-links-ipad a:hover {
        color: #793de6;
    }

    .footer-links {
        display: none;
    }

    .payment-methods img {
        height: 4.5vw;
        margin-top: 15px;
    }

    .payment-methods span {
        margin-top: 12px;
        font-size: 1.57vw;
    }

    .social-links {
        gap: 2vw;
        justify-content: flex-start;
        padding-right: 40%;
    }

    .social-links a {
        width: 3.2vw;
        height: 3.2vw;
    }

    .footer-bottom-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5vw;
        margin-top: 1.33vw;
        border-top: 1px solid #ccc;
        max-width: 93%;
    }

    .copyright {
        font-size: 1.5vw;
    }

    .tax-info {
        font-size: 1.3vw;
        max-width: none;
    }

}

@media (max-width: 480px) {
    .Header-hostinger {
        height: 70px;
        display: flex;
        align-items: center;
    }

    .nav-hostinger {
        padding: 0 15px;
    }

    .Image-logo-hostinger {
        width: 38vw;
        padding: 5px 0;
        height: auto;
    }

    .nav-menu {
        margin-left: 50vw;
    }

    .menu-hamburguesa-movil {
        font-size: 24px;
    }

    .nav-menu_lista {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .nav-menu.visible {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .hero-section {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .hero-content {
        width: 100%;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 5.5vw;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .hero-content p {
        font-size: 4.7vw;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .features-list {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }

    .features-list li {
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .icon-check {
        font-size: 6.2vw;
    }

    .icon-question {
        font-size: 3.3vw;
    }

    .icon-shield {
        font-size: 5vw;
        margin-right: 2vw;
        height: 2.3vw;
    }

    .promo-button {
        width: 100%;
        text-align: center;
        padding: 16px 0;
        font-size: 16px;
        border-radius: 8px;
    }

    .promo-guarantee,
    .promo-guarantee span {
        font-size: 3vw;
        gap: 16px;
        margin-top: 15px;
    }

    .promo-image img {
        max-width: 100%;
        transform: translateX(20px);
    }

    .btn-kodee {
        font-size: 3.5vw;
        margin-left: 4vw;
    }

    .migration-section {
        width: auto;
        padding: 0 16px;
    }

    .migration-section__body {
        padding: 0 8px;
        max-width: none;
    }

    .migration-section__body H2 {
        font-size: 5.8vw;
    }

    .migration-section__body p {
        width: 358.4px;
        font-size: 16px;
    }

    .migration-section__card {
        flex-direction: column;
        margin: 0;
        gap: 15px;
    }

    .migration-section__card_individual {
        max-width: 89%;
        border-radius: 40px;
    }

    .cta-container a .__cta-container {
        font-size: 4vw;
        width: 40vw;
        padding: 4vw 8vw;
        border-radius: 2vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }

    .sections-footer {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 15px;
    }

    .sections-footer section {
        width: 100%;
    }

    .sections-footer h2 {
        font-size: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 -30px;
        box-sizing: border-box;
    }

    .sections-footer a {
        display: none;
    }

    .social-links a {
        margin-top: 60px;
        width: 20px;
        height: 25px;
    }

    .btn-kodee {
        font-size: 3.5vw;
        margin-left: 5vw;
    }

    .footer-bottom-left .logo {
        margin-top: 40px;
        margin-left: -25px;
    }

    .footer-links-ipad {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-links-ipad a {
        font-size: 10px;
        white-space: nowrap;
    }

    .payment-methods {
        display: grid;
        grid-template-columns: repeat(4, auto);
        transform: translateX(-25px);
        gap: 12px;
        justify-content: start;
        align-items: center;
    }

    .payment-methods img {
        width: 45px;
        height: auto;
    }

    .payment-methods span {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-bottom-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3.5vw;
        color: #6b6b6b;
        margin-top: 4vw;
        border-top: 1px solid #ccc;
        padding-top: 4vw;
        width: 100%;
        margin-left: calc(-50vw + 50%);
    }

    .footer-bottom-info p {
        font-size: 14px;
    }

}