@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    margin: 0;
}

.Header-hostinger {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;
    box-shadow: 0 4px 10px #00000012;
    transition: box-shadow 0.3s ease;
}

.Header-hostinger .nav-hostinger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 5.72vw;
    font-weight: 400;
}

.div_logo {
    display: flex;
    align-items: center;
}

.Image-logo-hostinger {
    width: 9.71vw;
    padding: 2.51vw 0 2.08vw 2.51vw;
}

.navegacion {
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.73vw 2.6vw;
}

.navegacion_lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.34vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion_lista li {
    display: flex;
    align-items: center;
}

.navegacion_lista a.enlaces {
    display: flex;
    align-items: center;
    gap: 0.87vw;
    font-size: 1.02vw;
    cursor: pointer;
    text-decoration: none;
    color: #1d1e20;
}

.navegacion_lista a.enlaces:hover {
    color: #737374;
}

.bi-chevron-down {
    filter: drop-shadow(0.13vw 0 black);
}

.barra_derecha {
    position: absolute;
    right: 3.47vw;
    display: flex;
    gap: 2.17vw;
    font-size: 1.02vw;
    cursor: pointer;
}

.barra_derecha .bandera {
    display: flex;
    font-weight: bold;
    gap: 0.43vw;
}

.barra_derecha .bandera span {
    margin-top: 0.17vw;
    line-height: 1;
    font-size: 1.02vw;
}

.bandera img {
    height: 1.3vw;
}

.Buttom-cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.93vw;
    height: 3.03vw;
    font-size: 1.04vw;
    color: #1d1e20;
    font-weight: bold;
    background-color: white;
    border: 0.087vw solid #1d1e20;
    border-radius: 0.52vw;
    cursor: pointer;
    align-self: flex-start;
    margin-top: -0.87vw;
}

.Buttom-cuenta:hover {
    color: #737374;
    border-color: #737374;
}

.menu-hamburguesa-movil {
    display: none;
}


.promo-section {
    display: flex;
    align-items: center;
    max-width: 95.33vw;
    margin: auto;
    padding: 2.25vw 5vw;
    gap: 2.6vw;
}

.promo-text p {
    font-size: 1.25vw;
}

.promo-text {
    flex: 1;
    max-width: 45.33vw;
}

.promo-overline {
    font-size: 1.3vw;
    font-weight: bold;
}

.highlight {
    color: #673de6;
}

h1 {
    font-size: 2.35vw;
    margin: 0.87vw 0 1.73vw;
}

.promo-benefits {
    list-style: none;
    padding: 0;
    margin: 0 0 1.73vw;
}

.promo-benefits li {
    display: flex;
    align-items: center;
    margin-bottom: 0.017vw;
    font-size: 1.04vw;
    color: #333;
}

.icon-check {
    font-size: 1.43vw;
    color: #1fb054;
    text-shadow: 0 0 0.6px #1fb054, 0 0 0.6px #1fb054;
    margin-right: 0.69vw;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-question {
    font-size: 0.9vw;
    color: #000;
    text-shadow: 0 0 0.6px #000, 0 0 0.6px #000;
    margin-left: 0.6vw;
    cursor: pointer;
}

.promo-guarantee {
    display: flex;
    align-items: center;
    margin-bottom: 1.73vw;
    color: #1a1a1a;
}

.promo-guarantee span {
    font-size: 1.1vw;
}

.icon-shield {
    width: 0.7vw;
    height: 1.3vw;
    font-size: 1vw;
    text-shadow: 0 0 1px #313131, 0 0 1px #313131;
    color: #313131;
    margin-right: 0.52vw;
    flex-shrink: 0;
}

.promo-button {
    display: inline-block;
    background: #673de6;
    color: white;
    padding: 0.95vw 3.12vw;
    text-decoration: none;
    font-size: 1.04vw;
    border-radius: 0.52vw;
    font-weight: bold;
}

.promo-button:hover {
    background: #5025d1;
}


.promo-image {
    flex: 1;
    text-align: center;
}

.promo-image img {
    height: 38.9vw;
    width: 58.57vw;
}

.btn-kodee {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background-color: #663ae1;
    color: white;
    padding: 9px 15px;
    border-radius: 20px;
    font-weight: 600;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.82rem;
}

.btn-kodee svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.btn-kodee:hover {
    background-color: #5025d1;
}


.migracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vw;
    padding: 40px 0;
    background-color: #1F1346;
    color: #FFFFFF;
}

.migracion__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 77.33vw;
    text-shadow: 1.18vw;
    padding: 0 2.78vw;
    margin-left: 20.56vw;
    margin-right: 20.56vw;
    margin-bottom: 2.13vw;
}

.migracion__body h2 {
    font-size: 2.33vw;
}

.migracion__body p {
    font-size: 1.07vw;
    margin-top: 0.5px;
    line-height: 1.6;
}

.migracion__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.6vw;
    padding: 0 2.78vw;
    margin: 0 18.69vw;
}

.migracion__card .migracion__card_individual {
    display: flex;
    flex-direction: column;
    width: 19.87vw;
    height: 12.8vw;
    padding: 2.22vw;
    text-shadow: 0.97vw;
    background-color: #2f1c6a;
    border-radius: 1.11vw;
}

.migracion__card_individual span {
    margin-top: 0.93vw;
    display: block;
    margin-bottom: 0.8vw;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
}

.migracion__card_individual p {
    text-align: left;
    font-size: 1.03vw;
    margin: 0;
    line-height: 1.4;
}

.migracion__card_individual .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.78vw;
    height: 2.78vw;
    background-color: #673DE6;
    border-radius: 0.42vw;
    flex-shrink: 0;
}

.migracion__card_individual .img .bi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    font-size: inherit;
}

.migracion__card_individual .img .bi-lightning-charge {
    width: 85%;
    height: 85%;
}

.migracion .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.22vw 0 0;
}

.migracion .boton a {
    text-decoration: none;
}

.boton .__boton {
    margin-top: 1.2vw;
    display: flex;
    padding: 1.04vw 3.2vw;
    background-color: #673DE6;
    text-shadow: 0.43vw;
    border: 0.14vw;
    border-radius: 0.56vw;
    font-weight: bold;
    font-size: 1.08vw;
    color: #FFFFFF;
}

.footer-hostinger {
    background-color: #f4f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1e20;
    font-size: 14px;
    line-height: 1.6;
}

.sections-footer {
    display: grid;
    grid-template-columns: 11.96vw 13.33vw 16.81vw 12vw 9.33vw 6.67vw;
    max-width: 100%;
    margin-right: 5vw;
}

.compañia-footer {
    width: 7.33vw;
}

.soporte-footer {
    width: 10.67vw;
}

.sections-footer h2 {
    font-size: 1vw;
    margin-bottom: 0.69vw;
}

.sections-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sections-footer li {
    margin-bottom: 0.42vw;
}

.sections-footer a {
    text-decoration: none;
    color: #26272a;
    font-size: 0.94vw;
}

.sections-footer a:hover {
    color: #5025da;
}

.footer-bottom {
    max-width: 76vw;
    margin: 0.3vw 0 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    row-gap: 1.33vw;
    align-items: start;
}

.footer-bottom .logo img {
    height: 5.5vw;
    display: block;
}

.footer-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links-ipad {
    display: none;
}

.payment-methods {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.56vw;
}

.payment-methods img {
    height: 2.5vw;
    border-radius: 5px;
    border-color: #000;
    object-fit: contain;
}

.payment-methods span {
    font-size: 0.97vw;
    color: #793de6;
    font-weight: bold;
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.social-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.8vw;
    margin-top: 1.8vw;

}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.07vw;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    align-items: flex-end;
    width: 2vw;
    height: 2vw;
    color: #000000;
    background-color: transparent;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin-left: 13.5vw;
}

.footer-links a {
    color: #151515;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 0.95vw;
    transition: color 0.3s ease;
    white-space: nowrap;

}

.footer-links a:hover {
    color: #793de6;
}

.footer-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    font-size: 0.9vw;
    color: #6b6b6b;
    margin-top: 1.33vw;
    border-top: 1px solid #ccc;
    padding-top: 1.5vw;
}

.copyright {
    text-decoration: none;
    color: #1d2c3d;
    font-size: 1vw;
    max-width: 95%;
    line-height: 1.4;
}

.tax-info {
    text-decoration: none;
    color: #1d2c3d;
    font-size: 1vw;
    max-width: 17%;
    line-height: 1.4;
}